<section class="activation">
  <div class="mbox">
    <div class="activation-wrap">
      <h1>Для активации карты, пройдите подтверждение по смс</h1>
      <div class="activation-content">
        <form class="activation-form" action="/" method="post">
          <div class="form-field">
            <input id="phone" type="text" name="phone" placeholder="Введите ваш номер телефона" required />
          </div>
          <div class="form-field">
            <input id="card" type="text" name="card" placeholder="Введите номер карты" required />
          </div>
          <button type="submit">Активировать</button>
        </form>
        <div class="production">
          <div class="production-row">
            <div class="production-item">
              <div class="production-pic">
                <img src="images/lollipop-icon.png" alt="Lolipop">
              </div>
              <p>Развлекательные центры</p>
            </div>
            <div class="production-item">
              <div class="production-pic">
                <img src="images/cubes-icon.png" alt="Cubes">
              </div>
              <p>Развивающие игры</p>
            </div>
            <div class="production-item">
              <div class="production-pic">
                <img src="images/bear-icon.png" alt="Teddy Bear">
              </div>
              <p>Игрушки</p>
            </div>
          </div>
          <div class="production-row">
            <div class="production-item">
              <div class="production-pic">
                <img src="images/book-icon.png" alt="Book">
              </div>
              <p>Детская литература</p>
            </div>
            <div class="production-item">
              <div class="production-pic">
                <img src="images/boot-icon.png" alt="Boot">
              </div>
              <p>Детская обувь</p>
            </div>
            <div class="production-item">
              <div class="production-pic">
                <img src="images/body-icon.png" alt="Body">
              </div>
              <p>Детская одежда</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="button-right" href="#">Преимущества карты</a>
</section>